*.iml
.gradle
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/Fifth Ver.zip
/Fourth Ver.zip
/Fourth Ver 1.zip
/app/.settings/org.eclipse.buildship.core.prefs
/app/.classpath
/app/.project
/.settings/org.eclipse.buildship.core.prefs
/.vscode/settings.json
/.project
